.toast-container{
  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
}

.toast{
  background-color: green;
  width: 12rem;
  padding: 1rem;
  color: white;
  border-radius: 0.5rem;
  font-size: 1rem;
  position: relative;
  margin: 0.5rem;
  animation: slide 1s 1;
  span{
    position: absolute;
    right: 1rem;
    font-size: 1rem;
    cursor: pointer;
  }
}

.success{
  background-color: #46af46;
}
.info{
 background-color: #5899fe;
}
.warning{
   background-color: #fca200;
}
.error{
 background-color: #df5239;
}

@keyframes slide{
  0% {
    transform: translateX(100%);
  }
  
  100% {
      transform: translateX(0%)
  }
}